BODY {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color:transparent;
    font-size: 80%;
}

H2 {
    font-size: 16px;
    font-weight: bold;
    color: #335588;
}

A {
    color: #335588;
    text-decoration: none;
}

A:Visited {
    color: #335588;
}

A:Hover {
    color: #6682BB;
}

A:Active {
    color: #CCCCCC;
}

TH {
    text-align:left;
    border-bottom: thin solid black;
    border-right: thin solid black;
    vertical-align:text-bottom;
    background-image: url(../images/nav-lev1_repeat.gif);
    color: #335588;
    font-size: 80%;
}

.Desc {
    font-weight: bold;
    font-size: small;
}

.BottomLine {
    border-bottom: thin solid black;
}

.TopLine {
    
}

.TopLineBad {
    color: red;
    font-weight:bold;
}

.TopLineBadDEMAND {
    color: red;
    font-weight:bold;
}

.TopLineBadREJET {
    color: red;
    font-weight:bold;
}

.TopLineBadVALID {
    color: black;
    font-weight:bold;
}

.evenLine {
   BACKGROUND: #eee
}
.oddLine {
   
}

.Center {
    text-align:center;    
}

.NoBorder {
    border: none;
}

.NoBorderNumber {
    border: none;
    text-align:right;
}

.TDNumber {
    border-left: thin solid black;
    border-right: none;
    text-align:right;
}

.VerticalTH {
    writing-mode:tb-rl;
    text-align:right;
    cursor:help;
}
